* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*** REGOLE FLEX/GENERALI ***/

main {
    background-image: linear-gradient(to bottom right, lightblue, black);
    background-repeat: no-repeat;
    display: flex;
    height: 90vh;
}

.hidden-xs {
    display: none;
}

#mid-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

/*** FINE REGOLE FLEX/GENERALI ***/

/*** MENU IN ALTO ***/

#menu ul li {
    display: inline-block;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 12px;
    margin-right: 50px;
    line-height: 60px;
}

#menu a:hover {
    color: white;
}

#menu li:first-child a {
    color: white;
    position: relative;
}

#menu li:first-child a::before {
    content: "";
    border-bottom: 2.5px solid #1ed760;
    width: 40%;
    position: absolute;
    left: 30%;
    bottom: -5px;
}

#hamburger {
    align-self: flex-start;
    margin: 15px 15px;
    font-size: 30px;
}

/*** FINE MENU IN ALTO ***/

/*** SEZIONE CENTRALE: SPOTY-MUSIC ***/

#spoty-music {
    padding-top: 50px;
    align-self: flex-start;
    height: 90vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);;

}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);;
}

.music-sez {
    width: 80%;
    margin: 0 auto;
}

#music-order {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#spoty-music .music-sez h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.music-info {
    flex-basis: 50%;
    margin-bottom: 15px;
}

.music-info.artist img {
    border-radius: 50%;
}

.music-info:not(:first-child) {
    text-align: center;
}

.music-info img {
    width: 90%;
}

.music-info .img-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 98%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: .5s ease;
}

.ov-artist {
    border-radius: 50%;
}

.music-info:not(:first-child) .overlay {
    left: 10px;
}

.music-info .img-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay i {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.music-info a {
    text-decoration: none;
    color: inherit;
}

.music-info p {
    font-size: 14px;
    margin-top: 10px;
}

.music-info a:nth-child(3) {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.music-info a:nth-child(3):hover {
    color: white;
    text-decoration: underline;
}

/*** FINE SEZIONE SPOTY MUSIC ***/

/***INIZIO SIDEBAR ***/

#side-menu {
    background-color: rgba(0,0,0,0.7);
    width: 25vw;
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

#side-menu i {
    font-size: 30px;
}

#side-menu ul {
    list-style-type: none;
}

#side-menu a,#side-menu h2 {
    color: rgb(179, 179, 179);
    text-decoration: none;
}

#side-menu ul li a:hover,#bottom-side a:hover {
    color: white;
}

#side-menu h1 {
    font-size: 25px;
    line-height: 60px;
    text-align: center;
}

#side-menu h1 a {
    color: white;
}

#side-menu h1 i {
    font-size: 35px;
    margin-right: 5px;
    font-weight: normal;
    vertical-align: middle;
}

#side-menu h1 span {
    font-size: 5px;
    margin-left: 3px;
    vertical-align: super;
}

#path-menu {
    margin-top: 20px;
}

#side-menu #path-menu ul li:first-child {
    border-left: 3px solid #1ed760;
}

#side-menu #path-menu ul li:first-child a {
    color: white;
}

#side-menu #path-menu ul li:not(:first-child) {
    border-left: 3px solid transparent;
}

#side-menu #path-menu a {
    font-size: 14px;
    line-height: 2.5;
}

#side-menu #path-menu i {
    margin: 0 20px;
    font-size: 20px;
}

#side-menu #playlists,#bottom-side {
    width: 85%;
    margin: 20px auto;
}

#side-menu #playlists h2 {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#side-menu #playlists li a i {
    background-color: rgb(179, 179, 179);
    font-size: 20px;
    color: black;
    padding: 10px;
    margin-right: 15px;
    margin-top: 10px;
}

#side-menu #playlists li a {
    line-height: 2.8;
    font-size: 14px;
}

#bottom-side hr {
    margin: 10px 0;
}

#bottom-side img {
    width: 50%;
    border-radius: 50%;
}

#bottom-side p {
    color: white;
    vertical-align: super;
}


/*** FINE SIDEBAR ***/

/*** INIZIO PLAYER ***/

#player {
    height: 10vh;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: #B3B3B3;
}

#player a:hover {
    color: white;
    cursor: initial;
}

#player a {
    text-decoration: none;
    color: #B3B3B3;
}

#player #title a:hover {
    text-decoration: underline;
    cursor: pointer
}

#player .fa-heart:hover {
    color: white;
}

#player .content {
    display: flex;
    align-items: center;
    align-content: center;
}

#player .content #music-img {
    width: 30px;
}

#player #music-img {
    width: 15%;
    margin-right: 20px;
}

#player #music-img img {
    width: 80%;
    margin-left: 15px;
}

#player .content #title {
    flex-basis: 5%;
    margin-right: 20px;
}

#player .fa-heart {
    margin-left: 10px;
}

#player .content #title a h4 {
    color: white;
    font-size: 14px;
}

#player .content #title p {
    font-size: 12px;
}

.content #music-controls i {
    margin-right: 20px;
}

.content #music-controls .fa-play {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

#music-controls .fa-play:hover {
    transform: scale(1.2);
}

.content.player {
    flex-direction: column;
}

#minutes {
    position: relative;
    width: 100%;
}

#minutes::before {
    content: "1:52";
    position:absolute;
    left: -12%;
    top: 30%;
    font-size: 12px;
}

#minutes::after {
    content: "3:02";
    position:absolute;
    right: -12%;
    top: 30%;
    font-size: 12px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4CAF50;
}

#music-controls .slider {
    width: 45%;
}

/*** FINE PLAYER ***/

/*** MEDIA QUERY ***/
@media screen and (min-width: 768px) {
    .hidden-sm {
        display: none;
    }

    .visible-sm {
        display: inline-block;
    }

    .visible-sm-block {
        display: block;
    }

    #side-menu {
        width: 20vw;
    }

    #side-menu {
        width: 30vw;
        text-align: left;
    }

    #side-menu i {
        font-size: 16px;
    }

    #side-menu #playlists li a {
        font-size: 14px;
    }

    #player .fa-heart {
        margin-left: 0;
    }

    #bottom-side i {
        margin-right: 15px;
    }
    #bottom-side img {
        width: 30%;
        margin-right: 5px;
    }

    .music-info {
        flex-basis: 25%;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 992px) {
    .hidden-md {
        display: none;
    }

    .visible-md {
        display: inline-block;
    }

    .music-sez {
        margin-bottom: 35px;
    }

    #spoty-music .music-sez h2 {
        font-size: 36px;
    }

    .music-info {
        flex-basis: 15%;
        margin-bottom: 15px;
    }

    .music-info img {
        width: 90%;
    }

    #minutes {
        width: 250%;
        margin-top: 5px;
    }

    #minutes::before {
        left: -5%;
    }

    #minutes::after {
        right: -5%;
    }

@media screen and (min-width: 1200px) {
    #side-menu {
        width: 15vw;
    }

    #bottom-side i {
        margin-right: 15px;
    }

    #bottom-side img {
        width: 10%;
        margin-right: 5px;
    }

    #player .content #music-img {
        width: 15%;
    }
}
