* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** REGOLE FLEX/GENERALI ***/

main {
    background-image: linear-gradient(to bottom right, lightblue, black);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 90vh;
}

#mid-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

/*** FINE REGOLE FLEX/GENERALI ***/

/*** MENU IN ALTO ***/

#menu ul li {
    display: inline-block;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-right: 50px;
    line-height: 60px;
}

/*** FINE MENU IN ALTO ***/

/*** SEZIONE CENTRALE: SPOTY-MUSIC ***/

#spoty-music {
    height: 200px;
    background-color: red;
    overflow: hidden;
}

/*** FINE SEZIONE SPOTY MUSIC ***/

/***INIZIO SIDEBAR ***/

#side-menu {
    background-color: rgba(0,0,0,0.7);
    width: 300px;
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

#side-menu ul {
    list-style-type: none;
}

#side-menu a,h2 {
    color: rgb(179, 179, 179);
    text-decoration: none;
}

#side-menu ul li a:hover,#bottom-side a:hover {
    color: white;
}

#side-menu h1 {
    font-size: 25px;
    line-height: 60px;
    text-align: center;
}

#side-menu h1 a {
    color: white;
}

#side-menu h1 i {
    font-size: 35px;
    margin-right: 5px;
    font-weight: normal;
    vertical-align: middle;
}

#side-menu h1 span {
    font-size: 5px;
    margin-left: 3px;
    vertical-align: super;
}

#path-menu {
    margin-top: 20px;
}

#side-menu #path-menu ul li:first-child {
    border-left: 3px solid #1ed760;
}

#side-menu #path-menu ul li:first-child a {
    color: white;
}

#side-menu #path-menu ul li:not(:first-child) {
    border-left: 3px solid transparent;
}

#side-menu #path-menu a {
    font-size: 14px;
    line-height: 2.5;
}

#side-menu #path-menu i {
    margin: 0 20px;
    font-size: 20px;
}

#side-menu #playlists,#bottom-side {
    width: 85%;
    margin: 20px auto;
}

#side-menu #playlists h2 {
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#side-menu #playlists li a i {
    background-color: rgb(179, 179, 179);
    font-size: 20px;
    color: black;
    padding: 10px;
    margin-right: 15px;
    margin-top: 10px;
}

#side-menu #playlists li a {
    line-height: 2.8;
    font-size: 14px;
}

#bottom-side hr {
    margin: 10px 0;
}

#bottom-side img {
    width: 10%;
    border-radius: 50%;
    display: inline-block;
}

#bottom-side p {
    display: inline-block;
    color: white;
    vertical-align: super;
}


/*** FINE SIDEBAR ***/

/*** INIZIO PLAYER ***/

#player {
    height: 10vh;
    background-color: #282828;
}

/*** FINE PLAYER ***/

/*** MEDIA QUERY ***/
